@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Rubik', sans-serif;
}

.container-height {
    height: calc(100vh - 4rem);
}

.min-height-grid {
    min-height: calc(100vh - 5rem);
}

.gradient-user {
    background-image: linear-gradient(180deg, #fff 50%, #9CA3AF 50%);
}

/* spinner - spinKit */

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.width-search{
    width: 60vw;
}


.left-100vw {
    left: -100%;
}

.transition-menu {
    transition: .6s ease-in-out;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}